body, html {
    margin: 0;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}
.left {
    flex: 1;
    background-image: url('odin_picture.jpg');
    background-color: lightblue;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}
.right {
    flex: 1;
    background-color: lightgreen;
    padding: 20px;
    box-sizing: border-box;
}