body, html {
    margin: 0;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}
.left {
    flex: 1;
    width: 100%;
    background-image: url('odin_picture.jpg');
    background-color: lightblue;
    background-size: cover;
    box-sizing: border-box;
}
.right {
    flex: 1;
    background-color: lightgreen;
    box-sizing: border-box;
}

.div1, .div2 {
    height: 100vh;
    border: 1px solid #000;
    color: red;
}

.div1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 33.3333%;
    background-color: rgba(135, 135, 135, 0.5); /* 50% transparent #596D48 */
    height: 150px; /* Set height to 40px */
    box-sizing: border-box; /* Include padding and border in width calculation */
    position: absolute; /* Position absolutely within the container */
    bottom: 60%; /* Position 1/3 from the bottom */
    
}

img {
    height: 150px;
    width: auto;
    float: right;
    margin-right: 10px;
}

.odin_text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    font-size: 50px;
}

.div2 {
    background-color: rgba(15, 29, 3, 0.5); /* 50% transparent #596D48 */
    height: 60px; /* Set height to 40px */
    box-sizing: border-box; /* Include padding and border in width calculation */
    position: absolute; /* Position absolutely within the container */
    bottom: 10%; /* Position 1/3 from the bottom */
    
}